@tailwind base;
@tailwind components;
@tailwind utilities;

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    /* Ширина полосы прокрутки */
}

::-webkit-scrollbar-thumb {
    background-color: #838383;
    /* Цвет полосы прокрутки */
    border-radius: 4px;
    /* Закругление углов полосы прокрутки */
}

::-webkit-scrollbar-track {
    background-color: transparent;
    /* Цвет фона полосы прокрутки */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0; /* Убрать отступы между стрелочками и полем ввода */
}